

nav.menu-lateral
{
    width: 85px;
    height: 100%;
    background-color: rgb(41, 46, 51);
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 rgb(42, 122, 214);

    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
      
}

nav.menu-lateral:hover
{
    width: 300px;
    transition: .2s;
}

ul
{
    height: 100%;
    list-style-type: none;
    
}

ul li.item-menu{
    transition: .2s;
}

ul li.item-menu:hover
{
    background-color: rgb(42, 122, 214);
}

ul li.item-menu a
{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link
{
    margin-left: 40px;
}

ul li.item-menu a .icon > i
{
    font-size: 30px;
    margin-left: 10px;
}