@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');


body
{
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-family: Fira Code,monospace;
}

h1, p
{
    margin: 0;
}
